<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,‌​100italic,300,300ita‌​lic,400italic,500,50‌​0italic,700,700itali‌​c,900italic,900' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="logo">
    JS<br  />
    Online
  </div>
  <header>
    <a style="margin-left:125px;" href="/">Programs</a>
    <a href="/tutorials">Settings</a>
    <a style="display:inline-block;padding-right:30px; float:right;" href="/questions">Sign out</a>
  </header>
  <div id="container">
    <div class="my-row">

      <div class="my-row sub-menu">

      <span>New</span>
      <span class="blue">|</span>
      <span>Edit</span>
      <span class="blue">|</span>
      <span>Restart</span>
      <span class="blue">|</span>
      <span>Delete</span>
      </div>
      </div>
